@import 'config';
@import 'utilities';
@import 'media';

//HEADER AND MAIN NAV
#main-nav {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

#header {
    &-home {
        color: #fff;

        .header-content {
            background-color: $dark-color;
            text-align: center;
            padding-top: 20%;  
            padding-bottom: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }
}

//BEER STYLES
#specials {
    background-color: $light-color;
}
.specials {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}


//EVENTS
.events {
    background-color: $dark-color;
}

.news {
    background-color: $main-color;
    margin: 65px;
}

//TESTIMONIALS

.testimonials {
    background-color: $medium-color;
    h1 {
        text-align: center;
    }
}

.testimonial-container {
    background-color: #6610F2;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width:768px;
    position: relative;
}

.fa-quote {
    color: rgba(255,255,255,0.3);
    position: absolute;

    &-right {
        left: 40px;
    }

    &-left {
        right: 40px;
    }
}


.testimonial {
    line-height: 24px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;

    .user-image {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        object-fit: cover;
    }

    .user-details {
        margin-left: 10px;
    }

    .username {
        margin: 0;
    }

    .role {
        font-weight: normal;
        margin: 4px 0;
    }
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }
    
    .fa-quote {
        display: none;
    }
}

//PANELS
.gallery {
    background-color: $light-color;
    padding: 30px;
    .container {
        display: flex;
    }
}

.panel {
    background-color: $main-color;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    // border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.8s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


//FOOTER

.footer-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    height: 250px;

    a {
        color: #fff;
    }
}

.social {

    ul {
        display: flex;
        list-style-type: none;

        li {
            padding: .3rem;
        }
    }  
}