* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

body {
  font-family: 'Josefin+Sans', sans-serif;
  margin: 0;
  line-height: 1.5;
}

.line {
  border: 1px solid #000;
  margin: 1.5rem 8rem;
}

.section-title {
  font-size: 2rem;
  padding: .08rem;
}

.container {
  padding: 0 1.5rem;
  margin: auto;
}

.text-center {
  text-align: center;
}

.flex-columns.flex-reverse .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-columns .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-columns .column .column-1, .flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}

#main-nav {
  background-color: #E2124D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
  list-style-type: none;
}

#main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#main-nav a:hover {
  border-color: #ccc;
}

#main-nav a.current {
  border-color: #E2124D;
}

#header-home {
  color: #fff;
}

#header-home .header-content {
  background-color: #970C34;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#specials {
  background-color: #A8DADC;
}

.specials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.events {
  background-color: #970C34;
}

.news {
  background-color: #E2124D;
  margin: 65px;
}

.testimonials {
  background-color: #ccc;
}

.testimonials h1 {
  text-align: center;
}

.testimonial-container {
  background-color: #6610F2;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 24px;
  text-align: justify;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 4px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  -webkit-animation: grow 10s linear infinite;
          animation: grow 10s linear infinite;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }
  .fa-quote {
    display: none;
  }
}

.gallery {
  background-color: #A8DADC;
  padding: 30px;
}

.gallery .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel {
  background-color: #E2124D;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  color: #fff;
  cursor: pointer;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: -webkit-box-flex 0.8s ease-in;
  transition: -webkit-box-flex 0.8s ease-in;
  transition: flex 0.8s ease-in;
  transition: flex 0.8s ease-in, -webkit-box-flex 0.8s ease-in, -ms-flex 0.8s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.panel.active h3 {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
  background-color: #000;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem;
  height: 250px;
}

.footer-container a {
  color: #fff;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.social ul li {
  padding: .3rem;
}
/*# sourceMappingURL=main.css.map */