* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* ul {
  list-style-type: none;
}

body {
  font-family: 'Josefin+Sans', sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: #FFF8EB;
}

.line {
  border: 1px solid #000;
  margin: 1.5rem 8rem;
}

.section-title {
  font-size: 2rem;
  padding: .08rem;
}

.container {
  padding: 0 1.5rem;
  margin: auto;
}

.text-center {
  text-align: center;
}

.flex-columns.flex-reverse .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-columns .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-columns .column .column-1, .flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns .column .column-1 img, .flex-columns .column .column-2 img {
  border: 1px solid #000;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-columns .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4), .panel:nth-of-type(5) {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    padding: 20px;
  }
  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .flex-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-columns .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .flex-grid .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
  .team img {
    width: 70%;
  }
}

.hero {
  background-color: #970C34;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero img {
  height: 150px;
  border-radius: 50%;
}

.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.logo img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E2124D;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.navbar a:hover {
  border-bottom: 2px solid #E2124D;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

.ciders {
  background-color: #ccc;
  padding: 30px;
}

.ciders h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #000;
  width: 50%;
  margin: 30px auto;
}

.card {
  width: 325px;
  margin: .5rem auto;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card:hover .card__content {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.card__front {
  background-image: url("../img/darkbeer.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #6A040F;
  color: #fff;
}

.nutsdeep {
  background-image: url("../img/nutsdeep.jpeg");
  background-color: #FFBA08;
  color: #000;
}

.bareback {
  background-image: url("../img/bareback.jpeg");
  background-color: #6A040F;
}

.threeway {
  background-image: url("../img/threeway.jpeg");
  background-color: #FC8236;
  color: #000;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  -webkit-transform: translateZ(3rem);
          transform: translateZ(3rem);
}

.card__title {
  font-size: 2.3rem;
  -webkit-transform: translateZ(9rem);
          transform: translateZ(9rem);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  -webkit-transform: translateZ(6rem);
          transform: translateZ(6rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: .75rem;
  font-weight: var(700);
  opacity: .7;
}

.card__body {
  -webkit-transform: translateZ(6rem);
          transform: translateZ(6rem);
  font-weight: var(fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}

.card__back {
  -webkit-transform: rotateY(0.5turn);
          transform: rotateY(0.5turn);
  color: #E2124D;
  background: #333;
}

.events {
  background-color: #970C34;
}

.news {
  background-color: #E2124D;
  margin: 65px;
}

.testimonials {
  padding: 20px;
  margin: 20px 0;
  background-color: #ccc;
}

.testimonials h1 {
  text-align: center;
}

.testimonial-container {
  background-color: #6610F2;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 24px;
  text-align: justify;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 4px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  -webkit-animation: grow 10s linear infinite;
          animation: grow 10s linear infinite;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
  }
  .fa-quote {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 200px;
  background-color: #000;
  color: #fff;
}

.footer .social > * {
  margin-right: 30px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #E2124D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=main.css.map */