@import 'config';
@import 'utilities';
@import 'media';

//HEADER AND MAIN NAV
#main-nav {
    background-color: $main-color;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    align-items: center;
    justify-content: center;

    img {
        height: 50px;
        width: 50px;
    }

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

#header {
    &-home {
        color: #fff;

        #header-content {
            background-color: $dark-color;
            text-align: center;
            padding-top: 20%;  
            padding-bottom: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }

            img {
                height: 150px;
                border-radius: 50%;
                border: 2px solid #000;
            }
        }
    }
}

//BEER STYLES

.ciders {
    background-color: $medium-color;
    padding: 30px;


    h2 {
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        border: 2px solid #000;
        width: 50%;
        margin: 30px auto;
    }
}
  
  .card {
    width: 325px;
    margin: .5rem auto;

    a {
        text-decoration: none;
        color: #fff;
    }
  }
  
  .card__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card__content {
    transform: rotateY(.5turn);
  }
  
  .card__front,
  .card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
  }
  
  .card__front {
    background-image: url('../img/darkbeer.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #6A040F;
    color: #fff;
  }

.nutsdeep {
    background-image: url('../img/nutsdeep.jpeg');
    background-color: #FFBA08;
    color: #000;
}

.bareback {
    background-image: url('../img/bareback.jpeg');
    background-color: #6A040F;
}

.threeway {
    background-image: url('../img/threeway.jpeg');
    background-color: #FC8236;
    color: #000;
}
  
  .card__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: $level-one;
  }
  
  .card__title {
    font-size: 2.3rem;
    transform: $level-three;
    order: 2;
    text-transform: uppercase;
  }
  
  .card__subtitle {
    transform: $level-two;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var($fw-bold);
    opacity: .7;
  }
  
  .card__body {
    transform: $level-two;
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  
  
  .card__back {
    transform: rotateY(.5turn);
    color: $clr;
    background: #333;
  }


//EVENTS
.events {
    background-color: $dark-color;
}

.news {
    background-color: $main-color;
    margin: 65px;
}

//TESTIMONIALS

.testimonials {
    padding: 20px;
    margin: 20px 0;
    background-color: $medium-color;
    h1 {
        text-align: center;
    }
}

.testimonial-container {
    background-color: #6610F2;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width:768px;
    position: relative;
}

.fa-quote {
    color: rgba(255,255,255,0.3);
    position: absolute;

    &-right {
        left: 40px;
    }

    &-left {
        right: 40px;
    }
}


.testimonial {
    line-height: 24px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;

    .user-image {
        border-radius: 50%;
        height: 75px;
        width: 75px;
        object-fit: cover;
    }

    .user-details {
        margin-left: 10px;
    }

    .username {
        margin: 0;
    }

    .role {
        font-weight: normal;
        margin: 4px 0;
    }
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }
    
    .fa-quote {
        display: none;
    }
}

//PANELS
.gallery {
    background-color: $light-color;
    padding: 30px;
    margin: 20px;
    .container {
        display: flex;
    }
}

.panel {
    background-color: $main-color;
    background-size: auto 100%;
    // background-position: center;
    // background-repeat: no-repeat;
    background: no-repeat center center/cover;
    height: 20vh;
    // border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.8s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.cases {
    img:hover {
        opacity: 0.7;
        transition: 0.3s;
    }
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8rem;

    img {
        height: 100%;
        width: 100%;
    }
}


//FOOTER

.footer-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    height: 250px;

    a {
        color: #fff;
    }
}

.social {

    ul {
        display: flex;
        list-style-type: none;

        li {
            padding: .3rem;
        }
    }  
}